body{
	
	background-image: url(http://www.dollkind.com/images/kewpiecloth.gif);
	background-repeat:repeat-x;
	bac
	-webkit-perspective: 260px;
    -webkit-perspective-origin: 50% 80%;
}

#bgimg
{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-2;
	margin-top:100px;
}


img:hover
{
	-webkit-transform: rotate3d(1, 1, 1, 45deg);
	-webkit-transition: -webkit-transform 1.7s ease 0.3s;
    -moz-transition: -webkit-transform 1.7s ease 0.3s;
    -o-transition: -webkit-transform 1.7s ease 0.3s;
    transition: -webkit-transform 1.7s ease 0.3s;	
}

.img1
{
	-webkit-transform: rotate3d(1, 1, 1, -45deg);
	background:fuchsia;
    width: 240px;
    height: 240px;
    border: 3px solid #0f0;
    background: #f00;
    -webkit-transform-style: flat;
}

.img1:hover
{
	-webkit-transform: rotate3d(1, 1, 1, 145deg);
	-webkit-transition: -webkit-transform .7s ease 0.6s;
    -moz-transition: -webkit-transform .7s ease 0.6s;
    -o-transition: -webkit-transform .7s ease 0.6s;
    transition: -webkit-transform .7s ease 0.6s;
    -webkit-transform: ScaleY(4);

    	
}

}

.img2
{
	-webkit-transform: rotate3d(1, 1, 1, 165deg);
	background:fuchsia;
    width: 240px;
    height: 240px;
    border: 3px solid #0f0;
    background: #f00;
    -webkit-transform-style: flat;
}

.img3
{
	-webkit-perspective: 200;
	-webkit-transform: ScaleY(4);
		-webkit-transform: ScaleX(-4);
	background:fuchsia;
    width: 240px;
    height: 240px;
    border: 3px solid #0f0;
    background: #f00;
}


.img4
{
	-webkit-transform: ScaleX(6);
	background:fuchsia;
    width: 240px;
    height: 240px;
    border: 3px solid #0f0;
    background: #f00;
    -webkit-transform-style: flat;
    -webkit-transform-origin: right bottom;
}

.img5
{
	-webkit-transform: ScaleX(120px);
			-webkit-transform: ScaleX(-2);
	background:fuchsia;
    width: 240px;
    height: 240px;
    border: 3px solid #0f0;
    background: #f00;
    -webkit-transform-style: flat;
}

.img6
{
	-webkit-transform: ScaleX(-10px);
	background:fuchsia;
    width: 240px;
    height: 240px;
    border: 3px solid #0f0;
    background: #f00;
    -webkit-transform-style: flat;
    -webkit-transform-origin: left top;

}

 
.plane img {
    -webkit-transform: translateZ(60px);
}
 
#plane-3d {
    -webkit-transform-style: preserve-3d;
}

}

.img2
{
	background:aqua;
	
}

#wrapper
{
	margin: 0 auto;
	width: 530px;
	padding-right: 20px;
	background-image: url('http://www.gifs.net/Animation11/Geography_and_History/Canadian_Flags/new_brunswick.gif');
}



.shit 
{
	float:left;
	width:200px;
	height:100px;
	background:fuchsia;
}

.caption{
	background: #8A2E8A;
	color: #5C8A2E;
}

.shitright
{
	
	background:aqua;	
	float: left;
	width: 600px;
	height:100px;
}

